<article class="marco">
  <section class="basis-1/4 flex justify-center items-center front">
    <h1 class="text-4xl text-center">
      Bienvenidos a <span class="font-bold">Unicomer</span>
    </h1>
  </section>
  <section class="grow flex flex-col formLogin text-slate-200">
    <form class="p-4 rounded-lg" [formGroup]="form">
      <!-- select document type-------------------------------------------------------------------------------------->
      <div class="relative box-input mb-6">
        <select
          name="type"
          id="type"
          class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-lg rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5"
          formControlName="type"
        >
          <option value="dni">DNI</option>
          <option value="pasaporte">Pasaporte</option>
        </select>
      </div>
      <!-- document number ----------------------------------------------------------------------------------------------->
      <div class="relative box-input mb-6">
        <label
          for="dni"
          id="dniLabel"
          class="text-slate-500"
          >Número de documento</label
        >
        <input
          type="text"
          name="dni"
          id="dni"
          class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-lg rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pt-5 pr-7"
          [ngClass]="
            form.get('dni')?.untouched ||
            form.get('dni')?.valid
              ? 'focus:ring-green-300 border-slate-300'
              : 'focus:ring-rose-300 border-red-300'
          "
          formControlName="dni"
          (focus)="animacionIn('dniLabel')"
          (blur)="animacionOut('dniLabel', 'dni')"
        />
        <!-- icons ------------------------------------------------------------------>
        <div
          class="absolute top-5 right-1"
          *ngIf="form.get('dni')?.touched"
        >
          <img
            src="assets/check-icon.svg"
            *ngIf="form.get('dni')?.valid"
            alt="checkIcon"
          />
          <img
            src="assets/fail-icon.svg"
            *ngIf="form.get('dni')?.invalid"
            alt="failIcon"
          />
        </div>
        <!-- alertas --------------------------------------------------------------------->
        <div
          class="error-alert"
          *ngIf="
            form.get('dni')?.touched &&
            form.get('dni')?.invalid
          "
        >
          <div
            class="flex p-1 text-sm text-red-400 rounded-lg"
            *ngIf="form.get('dni')"
          >
            <img class="pr-3" src="assets/info-icon.svg" alt="info-icon" />
            <p *ngIf="form.get('dni')?.hasError('required')">
              Este campo es <span class="font-bold">requerido</span>.
            </p>
            <p *ngIf="form.get('dni')?.hasError('minlength')">
              Mínimo <span class="font-bold">8 a 9 carácteres</span>.
            </p>
            <p *ngIf="form.get('dni')?.hasError('maxlength')">
              Máximo <span class="font-bold">9 carácteres</span>.
            </p>
            <p
              *ngIf="
                form.get('dni')?.hasError('pattern') &&
                !form.get('dni')?.hasError('minlength') &&
                !form.get('dni')?.hasError('maxlength')
              "
            >
              Solo <span class="font-bold">números</span>.
            </p>
          </div>
        </div>
      </div>
      <!-- password----------------------------------------------------------------------------------------------------------- -->
      <div class="relative box-input mb-6">
        <label for="pass" id="passLabel" class="text-slate-500">Contraseña</label>
        <input
          type="password"
          name="pass"
          id="pass"
          class="bg-gray-50 border transition duration-250 ease-in-out text-gray-900 text-lg rounded-lg focus:ring-4 focus:ring-opacity-50 focus:outline-none block w-full p-2.5 pt-5 pr-7"
          [ngClass]="
            form.get('pass')?.untouched || form.get('pass')?.valid
              ? 'focus:ring-green-300 border-slate-300'
              : 'focus:ring-rose-300 border-red-300'
          "
          formControlName="pass"
          (focus)="animacionIn('passLabel')"
          (blur)="animacionOut('passLabel', 'pass')"
        />
        <!-- icons ---------------------------------------------------------------------------------------------------->
        <div class="absolute top-5 right-1" *ngIf="form.get('pass')?.touched">
          <img
            src="assets/check-icon.svg"
            *ngIf="form.get('pass')?.valid"
            alt="checkIcon"
          />
          <img
            src="assets/fail-icon.svg"
            *ngIf="form.get('pass')?.invalid"
            alt="failIcon"
          />
        </div>
        <!-- alertas ----------------------------------------------------------------------------------------------->
        <div
          class="error-alert"
          *ngIf="form.get('pass')?.touched && form.get('pass')?.invalid"
        >
          <div
            class="flex p-1 text-sm text-red-400 rounded-lg"
            *ngIf="form.get('pass')"
          >
            <img class="pr-3" src="assets/info-icon.svg" alt="info-icon" />
            <p *ngIf="form.get('pass')?.hasError('required')">
              Este campo es <span class="font-bold">requerido</span>.
            </p>
            <p *ngIf="form.get('pass')?.hasError('minlength')">
              Mínimo <span class="font-bold">8 carácteres</span>.
            </p>
          </div>
        </div>
      </div>
      <!-- boton -->
      <div class="btn">
        <button
          [disabled]="form.invalid"
          class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2 text-center mb-2 w-full disabled:from-purple-300 disabled:to-blue-200"
          (click)="login()"
        >
          Ingresar
        </button>
      </div>
    </form>
    <div class="basis-2/12 flex justify-center items-center">
      <img src="assets/keyboard_icon.svg" />
      <p>Teclado virtual</p>
    </div>
    <div class="basis-2/12 flex justify-center items-center">
      <p>no tienes cuenta? Regístrate <a class="font-bold underline cursor-pointer">aquí</a></p>
    </div>
  </section>
</article>
