:host{
  display: grid;
  grid-template: repeat(10, min-content)/repeat(6, 1fr);
  gap:1rem;
  width: 100vw;
  margin: 0 auto 0 auto;
}
header{
  display: flex;
  grid-column: span 6;
}
.profile{
  display: none;
}
.tarjet_card{
  grid-column: span 6;
  position: relative;
  height: 30vh;
  &_amount{
    position: absolute;
    left: 10%;
    top: 10%;
  }
  &_profile{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:10%;
    bottom: 10%;
  }
  &_date{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:40%;
    bottom: 10%;
  }
  &_number{
    position: absolute;
    right: 10%;
    top: 50%;
  }
}
.linear_graphic{
  grid-column: span 6;
}
#chartBar{
  height: 250px;
}
.completado{
  color: green;
}
.cancelado{
  color: red;
}
.pendiente{
  color: gray;
}

@media screen and (min-width: 440px) {
  .profile{
    display: inline-flex;
  }
  .tarjet_card{
    grid-column: span 4;
  }
}
@media screen and (min-width: 550px){
  .tarjet_card{
    grid-column: span 3;
  }
  .lineChart{
    grid-column: span 3;
  }
}
@media screen and (min-width: 550px){
  .tarjet_card{
    grid-column: span 3;
    height: auto;
  }
}

@media screen and (min-width: 1028px){

  :host{
    width: 80vw;
  }
}
@media screen and (min-width: 1200px){

  .tarjet_card{
    grid-column: span 2;
  }
  .lineChart{
    grid-column: span 2;
  }
  .chartBar,.table_transaccion{
    grid-column: span 3;
  }
}
